/* styles.css */

body { /* Normal  */
      font-size: 14px;
      font-family: "Arial", Helvetica, sans-serif;
}
td {  /* Table  */
  font-size: 12px;
}
h1.title {
  font-size: 38px;
  font-family: "Arial", Helvetica, sans-serif;
  color: #4d4e4f;
}
h1 { /* Header 1 */
  font-size: 28px;
  font-family: "Arial", Helvetica, sans-serif;
  color: #2c3a3e;
}
h2 { /* Header 2 */
  font-size: 22px;
  font-family: "Arial", Helvetica, sans-serif;
  color: #2c3a3e;
}
h3 { /* Header 3 */
  font-size: 18px;
  font-family: "Arial", Helvetica, sans-serif;
  color: #2c3a3e;
}
code.r { /* Code block */
    font-size: 12px;
}
pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}
